<script>
	$(function() {
		$.get('/tasks').success(function(data) {

			// convert an object representing a task and convert it to html
			function liToHTML(li) {
				return `<li><div class="view">` +
				`<input type="checkbox" class="toggle" ${li.done ? 'checked' : ''} data-id="${li.id}"></input>` +
				`<label>${li.title}</label> ${new Date(li.created_at).toLocaleDateString('en-US')}` +
				`</div></li>`
			}

			$('.todo-list').html(data.map(liToHTML).join("\n") );

			$('.toggle').change(function(e) {
				$.post('/tasks/' + $(e.target).data('id'), {
						_method: "PUT",
						task: {done: e.target.checked}
				});
      		});
		});
	});
</script>


<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
  </header>

  <section class="main">
  	<ul class="todo-list">
  	</ul>
  </section>
</section>