<script>
	$(function() {
		$.get('/tasks').success(function(data) {
			$('.todo-list').html(data.map(d =>
				`<li><div class="view"><input type="checkbox" class="toggle" ${d.done ? 'checked' : ''} data-id="${d.id}"></input>` + 
				`<label>${d.title}</label> ${new Date(d.created_at).toLocaleDateString('en-US')}</div></li>`
			).join("\n") );

			$('.toggle').change(function(e) {
				var id = $(e.target).data('id');
				console.log([e.target.checked, !e.target.checked]);

				$.post('/tasks/' + id, {
						_method: "PUT",
						task: {done: e.target.checked}
				});
      		});
		});
	});
</script>


<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
  </header>

  <section class="main">
  	<ul class="todo-list">
  	</ul>
  </section>
</section>